body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: azure;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card {
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(250, 248, 248);
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.1);
}

h1 {
    margin-bottom: 10px;
    font-weight: bold;
}

.complete-button {
    background-color: green;
}

.incomplete-button {
    background-color: red;
}

/* #homeContainer {
    display: flex;
    justify-content: flex-start;
    text-align: left;
} */

#homeButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 60px;
    margin-top: 275px;
}

#homeButtonContainer button {
    background-color: transparent;
    width: 300px;
    height: 75px;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 83px;
    text-align: left;
}

#homeButtonContainer button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes slideInBottom {
    from {
        transform: translateY(500px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opcacity: 1;
    }
}

.slideInBottom {
    animation-name: slideInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.success-message {
    background-color: lightgreen;
    color: black;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

#deleteUserButton {
    background-color: #007bff;
    color: white;
}

#deleteUserButton:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}